@using Application.ViewModels


@model PasswordChangeViewModel

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}




<div class="container mt-5">


    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-info" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }




    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-lg border-0 rounded-3">
                <h1>Kullanıcı Şifre Yenileme</h1>
                <div class="card-body p-4">
                    <form asp-controller="Member" asp-action="PasswordChange" method="post">
                     
                        <div class="mb-3">
                            <label asp-for="PasswordOld" class="form-label fw-bold"></label>
                            <input asp-for="PasswordOld" class="form-control" type="password" placeholder="Eski Şifreniz" />
                            <span asp-validation-for="PasswordOld" class="text-danger small"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="PasswordNew" class="form-label fw-bold"></label>
                            <input asp-for="PasswordNew" class="form-control" type="password" placeholder=" Yeni Şifreniz" />
                            <span asp-validation-for="PasswordNew" class="text-danger small"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="PasswordConfirm" class="form-label fw-bold"></label>
                            <input asp-for="PasswordConfirm" class="form-control" type="password" placeholder="Yeni Şifre Tekrar" />
                            <span asp-validation-for="PasswordConfirm" class="text-danger small"></span>
                        </div>


                        <button type="submit" class="btn btn-primary w-100">
                            <i class="bi bi-box-arrow-in-right"></i> Şifre Değiştir
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
