@using Application.ViewModels


@model UserEditViewModel

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}




<div class="container mt-5">


    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-info" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }




    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-lg border-0 rounded-3">
                <h1 class="text-center mt-3">Kullanıcı Güncelleme</h1>
                <div class="card-body p-4">
                    <form asp-controller="Member" asp-action="UserEdit" method="post" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label asp-for="UserName" class="form-label fw-bold"></label>
                            <input asp-for="UserName" class="form-control" placeholder="" />
                            <span asp-validation-for="UserName" class="text-danger small"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label fw-bold"></label>
                            <input asp-for="Email" class="form-control" placeholder="" />
                            <span asp-validation-for="Email" class="text-danger small"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Phone" class="form-label fw-bold"></label>
                            <input asp-for="Phone" class="form-control" placeholder="" />
                            <span asp-validation-for="Phone" class="text-danger small"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="BirthDate" class="form-label fw-bold"></label>
                            <input asp-for="BirthDate" type="date" class="form-control" />
                            <span asp-validation-for="BirthDate" class="text-danger small"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="City" class="form-label fw-bold"></label>
                            <input asp-for="City" class="form-control" placeholder="" />
                            <span asp-validation-for="City" class="text-danger small"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Gender" class="form-label fw-bold"></label>
                            <select asp-for="Gender" class="form-control" asp-items="ViewBag.gender">
                                <option value="">Seçiniz...</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger small"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Picture" class="form-label fw-bold"></label>
                            <input asp-for="Picture" class="form-control" type="file" />
                            <span asp-validation-for="Picture" class="text-danger small"></span>
                        </div>

                        <button type="submit" class="btn btn-primary w-100">
                            <i class="bi bi-box-arrow-in-right"></i> Güncelle
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
