@using WebMvc.Models.Identity

@model PasswordChangeViewModel

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="container pt-3 pb-2 mt-5">
    <div class="row pt-2">
        <!-- Sol panel -->
        <div class="col-lg-3 mt-4 mt-lg-0">



            <aside class="sidebar mt-2" id="sidebar">
                <ul class="nav nav-list flex-column mb-5">
                    <li class="nav-item"><a class="nav-link text-3" asp-area="Admin" asp-controller="Member" asp-action="UserEdit">Profil Bilgilerim</a></li>
                    <li class="nav-item"><a class="nav-link text-3 text-dark active" asp-area="Admin" asp-controller="Member" asp-action="PasswordChange">Şifre Değiştir</a></li>

                </ul>
            </aside>

        </div>

        <!-- Sağ panel -->
        <div class="col-lg-9">
        

            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

            <form asp-controller="Member" asp-area="Admin" asp-action="PasswordChange" method="post" class="needs-validation">

                <div class="form-group row mb-3">
                    <label asp-for="PasswordOld" class="col-lg-3 col-form-label text-2 fw-bold pt-2"></label>
                    <div class="col-lg-9">
                        <input asp-for="PasswordOld" type="password" class="form-control text-3 h-auto py-2" placeholder="Eski Şifreniz" />
                        <span asp-validation-for="PasswordOld" class="text-danger small"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label asp-for="PasswordNew" class="col-lg-3 col-form-label text-2 fw-bold pt-2"></label>
                    <div class="col-lg-9">
                        <input asp-for="PasswordNew" type="password" class="form-control text-3 h-auto py-2" placeholder="Yeni Şifreniz" />
                        <span asp-validation-for="PasswordNew" class="text-danger small"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label asp-for="PasswordConfirm" class="col-lg-3 col-form-label text-2 fw-bold pt-2"></label>
                    <div class="col-lg-9">
                        <input asp-for="PasswordConfirm" type="password" class="form-control text-3 h-auto py-2" placeholder="Yeni Şifre Tekrar" />
                        <span asp-validation-for="PasswordConfirm" class="text-danger small"></span>
                    </div>
                </div>

                <div class="form-group row mt-4">
                    <div class="col-lg-9 offset-lg-3">
                        <button type="submit" class="btn btn-primary btn-modern float-end" data-loading-text="Kaydediliyor...">
                            Şifreyi Güncelle
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
