@model List<Application.DTOs.Company.CompanyDto>

<h2>Şirketler</h2>
<a class="btn btn-primary mb-2" asp-action="Create">Yeni Şirket Ekle</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Detay</a>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
            
                </td>
            </tr>
        }
    </tbody>
</table>
